body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.app-header {
    height: 80px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 26px;
    padding-left: 5px;
    font-weight: bolder;
}

.app-header .app-header--subtitle {
    font-size: 22px;
    padding-left: 5px;
    font-weight: bold;
}

.app-info {
    padding-left: 5px;
}

.app-footer {
    border-top: thin lightgrey solid;
    font-size: 14px;
    text-align: center;
    font-weight: lighter; 
}

.total-info, .country-info {
    text-align: center;
}